.jumbotron{
	width:90%;
	height:auto;
	margin: 10px auto;
	/*text-align: center;*/
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.user_img {
	max-width:100% !important;
    height:auto;
    display:block;
    margin: 0 auto;
    border-radius: 50%;
}

.user_comment{
	/*border:1px solid; */
	margin-top:5px; 
}

.header_comment.blue{
	background-color: #428bca;
	color:white;
	font-size: 1.1em;
	/*border-color: #428bca;*/
	margin:0;
}

.header_comment.red{
	background-color: #d9534f;
	color:white;
	font-size: 1.1em;
	/*border-color: #d9534f;*/
	margin:0;

}

.content_comment{
	background-color: white;
	margin: 0;
	border:1px solid;
}
.content_comment.blue{
	border-color: #428bca;
}

.content_comment.red{
	border-color: #d9534f;
}
.user_info_name{
	font-size: 2em;

}
.user_info_mail{
	font-size: 1.2em;
}

@media screen and (max-width: 400px){
.user_info_name{
	font-size: 1.3em;

}
.user_info_mail{
	font-size: .7em;
}
.header_comment{
	line-height: 30px;
}
.header_comment .col-md-4{
	display:none;
}
.header_comment .col-md-3{
	display:none;
}
.content_comment{
	word-break:break-all;
}

}