/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.navbar{
	margin-bottom: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.jumbotron{
	width:90%;
	height:auto;
	margin: 10px auto;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.btn-lg {
	padding:8px 10%;
	font-size: 1.5em;
	/*min-width: 200px;*/
	width: 100%;
}

.btn-md{
	padding:5px 15px;
	font-size: 1.1em;
	/*min-width: 50px;*/
}

.user_img_cont{
	padding:10px 10px;
	-webkit-backface-visibility: hidden ;
}
.user_img{
	max-width:100% !important;
    height:auto;
    display:block;
    margin: 0 auto;
    border-radius: 50%;
}

.maincontainer{
	border-right:1px solid #c3c3c3;
}

.maincontainer .row{
	padding-bottom: 50px;
}

.top3 .row{
	padding-bottom: 10px;
	padding-left:10px;
	float:left;
}


.fa-fw{
	margin-right: 5px;
}

.sort_select{
	margin-bottom:10px; 
	height:60px; 
	font-size:1.0em;
}

.cont{
  -webkit-perspective: 800px;
     -moz-perspective: 800px;
       -o-perspective: 800px;
          perspective: 800px;	
}

.card{
	  -webkit-transition: -webkit-transform .5s;
	 -moz-transition: -moz-transform .5s;
	   -o-transition: -o-transform .5s;
	      transition: transform .5s;
	-webkit-transform-style: preserve-3d;
	 -moz-transform-style: preserve-3d;
	   -o-transform-style: preserve-3d;
	      transform-style: preserve-3d;
}

.nodisplay{
	display:none;
}

.card.flipped {
  -webkit-transform: rotateY( 180deg );
     -moz-transform: rotateY( 180deg );
       -o-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
}

.card .user_data_cont{
	/*display: block;*/
      -webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
              backface-visibility: hidden;
}

.card .back{
	     -webkit-transform: rotateY( 180deg );
         -moz-transform: rotateY( 180deg );
           -o-transform: rotateY( 180deg );
              transform: rotateY( 180deg );
}



@media screen and (max-width: 1081px){
	.top3 .row{
		font-size: 0.8em;
	}

}


@media screen and (max-width: 992px){
	.maincontainer{
		border-right:none;
		border-bottom:1px solid #c3c3c3;
	}
	.user_img{
		max-width:60% !important;
	}
	.top3 .row{
		font-size:1em;
		float:none;
	}

}




@media screen and (max-width: 768px){
	.btn-lg {
		font-size: 2.5em;
	}


}

@media screen and (max-width: 500px){
	.btn-lg {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 370px){
	.sort_select{
		font-size:.68em;
	}

	.btn-lg {
		font-size: 1.1em;
	}
}

